.dflex{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
}
.mycard{
  height: max-content;
  width: 700px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin: 25px;
  padding: 20px;
  transition: .3s;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.mycard:hover{
  box-shadow: 5px 5px 15px rgb(199, 199, 199);
}
.dflex input{
  width: 100%;
  min-width: 350px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  font-size: 16px;
  border-radius: 5px;
}
textarea{
  width: 100%;
  min-width: 350px;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  font-size: 16px;
  resize: none;
  border-radius: 5px;
}
textarea:focus{
  outline: 2px solid blueviolet;
}
.mybtn{
  cursor: pointer;
  width: max-content;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  background: blueviolet;
  border: none;
  border-radius: 5px;
  transition: .3s ease;
}
.mybtn:hover{
  letter-spacing: 3px;
}
